p{
  color: rgb(88, 85, 85);
}
.Navbar {
  display: grid;
}

.Top-Navbar {
  display: grid;

  grid-template-areas: "logo  searchbar searchbar searchbar searchbar . . . . . menu icon ";
  margin-top: 25px;
  margin-left: 20px;
}
.Top-Navbar #logo {
  width: 120px;
  grid-area: logo;
  padding-left: 1%;
}
.Top-Navbar #squared-menu {
  grid-area: menu;
  width: 30px;
  padding-top: 5%;
  padding-right: 5%;
}
.Top-Navbar #profile-icon {
  grid-area: menu;
  padding-left: 40%;
}
.Top-Navbar form {
  width: 100%;
  height: auto;
  justify-self: start;
  align-self: center;
  grid-area: searchbar;
}
.Top-Navbar #searchbar {
  width: 100%;
  height: 25px;
  border-radius: 15px;
  border-color: gray;
  padding: 4px 7px;
  color: #666;
  font-size: 15px;

  /* box-shadow: 2px 2px 3px #666; */
  outline: 0;
}
.Top-Navbar #searchbar:focus {
  box-shadow: 1px 1px 2px #666;
  color: black;
}

.Bottom-Navbar{
padding-top: 1%;
}
.Bottom-Navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}.Bottom-Navbar li{
    display: inline;
    
    padding-left: 8%;
}
.Bottom-Navbar li a{
    text-decoration:none;
    color: rgb(39, 37, 37);
    
}
.Bottom-Navbar li a:hover{
    
}
.Bottom-Navbar li a:active{
    color: blue;
}

.content{
  margin-left:18%;
  margin-right:40%;
}

.website-link{
margin-top: 30px;
}

.website-link .link p{
  font-size: 12px;
}
.website-link a{
  font-size: 16px;
  text-decoration: none;
  color: rgb(27, 27, 201);
}
.website-link a:hover span{
  text-decoration:underline;
}

.dropdown{
  background-color: blue;
  
  height: 10%;
  width: 10%;
}